<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net40" />
  <package id="fastJSON" version="2.0.27.1" targetFramework="net40" />
  <package id="Mono.Options" version="1.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.62" targetFramework="net40" />
</packages>