<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.12.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.46" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.85.0" targetFramework="net40" />
</packages>